<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.dabbit.skd21.exam.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="net.dabbit.skd21.exam.entity.Menu">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="menu_code" jdbcType="VARCHAR" property="menuCode" />
        <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
        <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
        <result column="menu_level" jdbcType="VARCHAR" property="menuLevel" />
        <result column="parent_id" jdbcType="INTEGER" property="parentId" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
    </resultMap>
    <select id="list" parameterType="net.dabbit.skd21.exam.entity.JsGridData" resultMap="BaseResultMap">
        select * from menu
        limit #{offset},#{pageSize}
    </select>

    <select id="count" parameterType="net.dabbit.skd21.exam.entity.JsGridData" resultType="java.lang.Long">
        select count(*) from menu
    </select>

    <insert id="add" parameterMap="net.dabbit.skd21.exam.entity.JsGridData" resultType="java.lang.Integer">

    </insert>

</mapper>